<%- include('partials/header') %>

    <div class="flex flex-col px-4 sm:px-10 mt-10 md:mb-56 mb-44">

        <section class="relative w-full overflow-hidden">
            <div class="max-w-7xl flex flex-col lg:flex-row items-center  gap-12">

                <div class="flex-1 flex flex-col items-center text-center lg:items-start lg:text-left">


                    <h1 class="mb-6 text-3xl font-black tracking-tighter text-black sm:text-3xl xl:text-6xl">
                        HDPE PIPES
                    </h1>

                    <p class="mb-8 max-w-2xl text-lg leading-relaxed text-gray-700 md:text-xl xl:text-2xl">
                        Solanki Pipes manufactures HDPE Pipes from 20 mm to 1000 mm OD with pressure ratings from PN 2.5
                        to PN 10, in PE 80 and PE 100 grades, conforming to IS 4984:2016.
                    </p>


                </div>

                <div class="flex-1 flex justify-center lg:justify-end relative">
                    <div class="absolute -z-10 h-64 w-64 rounded-full bg-blue-50 blur-3xl lg:h-96 lg:w-96"></div>

                    <img src="/images/product_01hover.png" alt="HDPE Pipe Display"
                        class="w-full max-w-[350px] md:max-w-[450px] h-auto object-contain drop-shadow-2xl transition-transform duration-500 hover:scale-105">
                </div>

            </div>
        </section>

        <div class="relative mt-10  self-center w-full">
            <div
                class="bg-black w-full rounded-lg h-48 md:h-96 flex items-center justify-center banner-mask overflow-hidden">
                <img src="/images/hdpe_02.svg" class="w-full h-full object-cover opacity-50">
            </div>
            <h6
                class="text-white absolute top-1/2 left-0 -translate-y-1/2 z-10 text-lg sm:text-3xl md:text-4xl lg:text-6xl xl:text-7xl w-full text-center">
                Better pipe, Better life
            </h6>
        </div>

        <div class="lg:px-2 xl:px-10 mb-10">
            <div class="flex">
                <span class="text-indigo-700 mt-36 text-2xl sm:text-3xl mb-24">Key&nbsp;</span>
                <span class="text-indigo-700 mt-36 text-2xl sm:text-3xl mb-24">Features</span>
            </div>

            <div
                class="grid grid-cols-2 grid-rows-4 md:grid-cols-3 md:grid-rows-3 lg:grid-cols-4 lg:grid-rows-2 md:gap-x-28 xl:gap-x-36 gap-y-20 sm:gap-x-36 gap-x-20">
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0"
                        src="https://cdn-icons-png.flaticon.com/512/1705/1705833.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">100% Virgin PE80 / PE100 Granules.</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0"
                        src="https://cdn-icons-png.flaticon.com/512/9368/9368310.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">Flexibility And Crush Resistance.</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0"
                        src="https://cdn-icons-png.flaticon.com/512/3100/3100137.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">Hydrostatic Strength And Durability</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0"
                        src="https://cdn-icons-png.flaticon.com/512/2921/2921313.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">Chemical Resistance.</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0"
                        src="https://cdn-icons-png.flaticon.com/512/2954/2954847.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">Lightweight And Easy & Fast Installations.</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0"
                        src="https://cdn-icons-png.flaticon.com/512/3233/3233934.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">SCGR (Slow Crack Growth Resistance)
                        Properties.</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0"
                        src="https://cdn-icons-png.flaticon.com/512/2865/2865792.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">No Bacterial Growth.</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0"
                        src="https://cdn-icons-png.flaticon.com/512/1000/1000974.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">Leak-free Monolithic Pipe</p>
                </div>
            </div>
        </div>

        <div class="grid w-full overflow-hidden mt-16">
            <div
                class="flex flex-col sm:flex-row justify-between items-center w-full border-black border-y-[1px] py-10 my-10 px-4">
                <div class="text-xl sm:text-2xl font-black text-gray-900 tracking-tight uppercase">
                    Wall Thickness Chart (IS 4984:2016)
                </div>
                <a href="/images/solanki-industries-is-4984-dimension-chart.pdf" download
                    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2.5 px-6 rounded-xl shadow transition-colors flex items-center gap-2 group">
                    <svg class="w-5 h-5 transform group-hover:translate-y-0.5 transition-transform" fill="none"
                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
                    </svg>
                    Download IS 4984 Dimension Chart
                </a>
            </div>

            <div class="w-full overflow-x-auto rounded-2xl border border-gray-200 shadow-lg">
                <table class="w-full text-sm text-left text-gray-700 border-collapse min-w-[900px]">
                    <thead>
                        <tr class="bg-blue-600 text-white font-black text-center border-b border-blue-700">
                            <th class="py-4 px-4 border-r border-blue-500">Nominal OD (mm)</th>
                            <th colspan="2" class="py-2 px-2 border-r border-blue-500">SDR 17 (PN 6)<br><span
                                    class="text-xs font-normal opacity-80">Wall Thickness (mm)</span></th>
                            <th colspan="2" class="py-2 px-2 border-r border-blue-500">SDR 13.6 (PN 8)<br><span
                                    class="text-xs font-normal opacity-80">Wall Thickness (mm)</span></th>
                            <th colspan="2" class="py-2 px-2 border-r border-blue-500">SDR 11 (PN 10)<br><span
                                    class="text-xs font-normal opacity-80">Wall Thickness (mm)</span></th>
                            <th colspan="2" class="py-2 px-2 border-r border-blue-500">SDR 9 (PN 12.5)<br><span
                                    class="text-xs font-normal opacity-80">Wall Thickness (mm)</span></th>
                            <th colspan="2" class="py-2 px-2">SDR 7.4 (PN 16)<br><span
                                    class="text-xs font-normal opacity-80">Wall Thickness (mm)</span></th>
                        </tr>
                        <tr
                            class="bg-blue-55 text-blue-900 font-bold text-xs text-center border-b border-gray-200 bg-blue-50">
                            <th class="py-2 px-4 border-r border-gray-200">-</th>
                            <th class="py-2 px-2 border-r border-gray-200">Min</th>
                            <th class="py-2 px-2 border-r border-gray-200">Max</th>
                            <th class="py-2 px-2 border-r border-gray-200">Min</th>
                            <th class="py-2 px-2 border-r border-gray-200">Max</th>
                            <th class="py-2 px-2 border-r border-gray-200">Min</th>
                            <th class="py-2 px-2 border-r border-gray-200">Max</th>
                            <th class="py-2 px-2 border-r border-gray-200">Min</th>
                            <th class="py-2 px-2 border-r border-gray-200">Max</th>
                            <th class="py-2 px-2 border-r border-gray-200">Min</th>
                            <th class="py-2 px-2">Max</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100 bg-white font-medium text-center">
                        <tr class="hover:bg-blue-50/50 transition-colors">
                            <td class="py-3 px-4 font-bold text-gray-900 border-r border-gray-100 bg-gray-50/50">20</td>
                            <td class="text-gray-400 border-r border-gray-100">-</td>
                            <td class="text-gray-400 border-r border-gray-100">-</td>
                            <td class="text-gray-400 border-r border-gray-100">-</td>
                            <td class="text-gray-400 border-r border-gray-100">-</td>
                            <td class="border-r border-gray-100">2.00</td>
                            <td class="border-r border-gray-100">2.30</td>
                            <td class="border-r border-gray-100">2.30</td>
                            <td class="border-r border-gray-100">2.70</td>
                            <td class="border-r border-gray-100">2.80</td>
                            <td>3.20</td>
                        </tr>
                        <tr class="hover:bg-blue-50/50 transition-colors">
                            <td class="py-3 px-4 font-bold text-gray-900 border-r border-gray-100 bg-gray-50/50">25</td>
                            <td class="text-gray-400 border-r border-gray-100">-</td>
                            <td class="text-gray-400 border-r border-gray-100">-</td>
                            <td class="text-gray-400 border-r border-gray-100">-</td>
                            <td class="text-gray-400 border-r border-gray-100">-</td>
                            <td class="border-r border-gray-100">2.30</td>
                            <td class="border-r border-gray-100">2.70</td>
                            <td class="border-r border-gray-100">2.80</td>
                            <td class="border-r border-gray-100">3.20</td>
                            <td class="border-r border-gray-100">3.50</td>
                            <td>4.00</td>
                        </tr>
                        <tr class="hover:bg-blue-50/50 transition-colors">
                            <td class="py-3 px-4 font-bold text-gray-900 border-r border-gray-100 bg-gray-50/50">32</td>
                            <td class="border-r border-gray-100">1.90</td>
                            <td class="border-r border-gray-100">2.20</td>
                            <td class="border-r border-gray-100">2.40</td>
                            <td class="border-r border-gray-100">2.80</td>
                            <td class="border-r border-gray-100">3.00</td>
                            <td class="border-r border-gray-100">3.40</td>
                            <td class="border-r border-gray-100">3.60</td>
                            <td class="border-r border-gray-100">4.10</td>
                            <td class="border-r border-gray-100">4.40</td>
                            <td>5.00</td>
                        </tr>
                        <tr class="hover:bg-blue-50/50 transition-colors">
                            <td class="py-3 px-4 font-bold text-gray-900 border-r border-gray-100 bg-gray-50/50">40</td>
                            <td class="border-r border-gray-100">2.40</td>
                            <td class="border-r border-gray-100">2.80</td>
                            <td class="border-r border-gray-100">3.00</td>
                            <td class="border-r border-gray-100">3.50</td>
                            <td class="border-r border-gray-100">3.70</td>
                            <td class="border-r border-gray-100">4.20</td>
                            <td class="border-r border-gray-100">4.50</td>
                            <td class="border-r border-gray-100">5.10</td>
                            <td class="border-r border-gray-100">5.50</td>
                            <td>6.20</td>
                        </tr>
                        <tr class="hover:bg-blue-50/50 transition-colors">
                            <td class="py-3 px-4 font-bold text-gray-900 border-r border-gray-100 bg-gray-50/50">50</td>
                            <td class="border-r border-gray-100">3.00</td>
                            <td class="border-r border-gray-100">3.50</td>
                            <td class="border-r border-gray-100">3.70</td>
                            <td class="border-r border-gray-100">4.20</td>
                            <td class="border-r border-gray-100">4.60</td>
                            <td class="border-r border-gray-100">5.20</td>
                            <td class="border-r border-gray-100">5.60</td>
                            <td class="border-r border-gray-100">6.40</td>
                            <td class="border-r border-gray-100">6.90</td>
                            <td>7.70</td>
                        </tr>
                        <tr class="hover:bg-blue-50/50 transition-colors">
                            <td class="py-3 px-4 font-bold text-gray-900 border-r border-gray-100 bg-gray-50/50">63</td>
                            <td class="border-r border-gray-100">3.80</td>
                            <td class="border-r border-gray-100">4.30</td>
                            <td class="border-r border-gray-100">4.70</td>
                            <td class="border-r border-gray-100">5.30</td>
                            <td class="border-r border-gray-100">5.80</td>
                            <td class="border-r border-gray-100">6.60</td>
                            <td class="border-r border-gray-100">7.10</td>
                            <td class="border-r border-gray-100">8.10</td>
                            <td class="border-r border-gray-100">8.60</td>
                            <td>9.60</td>
                        </tr>
                        <tr class="hover:bg-blue-50/50 transition-colors">
                            <td class="py-3 px-4 font-bold text-gray-900 border-r border-gray-100 bg-gray-50/50">75</td>
                            <td class="border-r border-gray-100">4.50</td>
                            <td class="border-r border-gray-100">5.10</td>
                            <td class="border-r border-gray-100">5.60</td>
                            <td class="border-r border-gray-100">6.40</td>
                            <td class="border-r border-gray-100">6.80</td>
                            <td class="border-r border-gray-100">7.70</td>
                            <td class="border-r border-gray-100">8.40</td>
                            <td class="border-r border-gray-100">9.50</td>
                            <td class="border-r border-gray-100">10.30</td>
                            <td>11.50</td>
                        </tr>
                        <tr class="hover:bg-blue-50/50 transition-colors">
                            <td class="py-3 px-4 font-bold text-gray-900 border-r border-gray-100 bg-gray-50/50">90</td>
                            <td class="border-r border-gray-100">5.40</td>
                            <td class="border-r border-gray-100">6.10</td>
                            <td class="border-r border-gray-100">6.70</td>
                            <td class="border-r border-gray-100">7.60</td>
                            <td class="border-r border-gray-100">8.20</td>
                            <td class="border-r border-gray-100">9.30</td>
                            <td class="border-r border-gray-100">10.10</td>
                            <td class="border-r border-gray-100">11.40</td>
                            <td class="border-r border-gray-100">12.30</td>
                            <td>13.70</td>
                        </tr>
                        <tr class="hover:bg-blue-50/50 transition-colors">
                            <td class="py-3 px-4 font-bold text-gray-900 border-r border-gray-100 bg-gray-50/50">110
                            </td>
                            <td class="border-r border-gray-100">6.60</td>
                            <td class="border-r border-gray-100">7.50</td>
                            <td class="border-r border-gray-100">8.10</td>
                            <td class="border-r border-gray-100">9.20</td>
                            <td class="border-r border-gray-100">10.00</td>
                            <td class="border-r border-gray-100">11.30</td>
                            <td class="border-r border-gray-100">12.30</td>
                            <td class="border-r border-gray-100">13.90</td>
                            <td class="border-r border-gray-100">15.10</td>
                            <td>16.80</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div
            class="grid grid-flow-col grid-rows-3 lg:grid-rows-2 lg:grid-cols-2 w-full mt-20 gap-8 xl:px-2 md:px-2 lg:px-2">
            <div class="lg:row-span-2 relative w-full min-h-[400px]">
                <img alt="HDPE Gallery 1" class="rounded-2xl object-cover absolute inset-0 w-full h-full"
                    src="/images/hdpe-gallery-1.jpeg">
            </div>
            <div class="h-full">
                <img alt="HDPE Gallery 2" class="w-full h-full rounded-2xl object-cover"
                    src="/images/hdpe-gallery-2.jpeg">
            </div>
            <div class="h-full">
                <img alt="HDPE Gallery 3" class="w-full h-full rounded-2xl object-cover"
                    src="/images/hdpe-gallery-3.jpeg">
            </div>
        </div>

        <h6
            class="text-center font-bold text-2xl sm:text-4xl xl:text-5xl mt-10 lg:mt-20 mb-10 sm:mb-10 md:mb-20 uppercase text-gray-900 tracking-tight">
            Our Other Products</h6>
        <div class="flex flex-wrap justify-center gap-12 md:gap-20">

            <a class="group flex flex-col gap-8 items-center justify-center text-center cursor-pointer relative"
                href="/dwc-pipe">
                <span
                    class="absolute top-0 right-4 bg-amber-55 text-amber-800 border border-amber-500/30 text-[9px] bg-amber-50 font-black px-2.5 py-0.5 rounded-full uppercase tracking-wider z-10 shadow-sm">Soon</span>
                <img alt="DWC PIPES" class="w-48 h-auto transition-transform duration-350 group-hover:scale-105"
                    src="/images/product_03hover.png">
                <p class="text-base group-hover:text-blue-600 font-bold transition-colors uppercase tracking-wide">DWC
                    PIPES</p>
            </a>

            <a class="group flex flex-col gap-8 items-center justify-center text-center cursor-pointer"
                href="/pvc-pipe">
                <img alt="PVC PIPES" class="w-48 h-auto transition-transform duration-350 group-hover:scale-105"
                    src="/images/product_04hover.png">
                <p class="text-base group-hover:text-blue-600 font-bold transition-colors uppercase tracking-wide">PVC
                    PIPES</p>
            </a>

            <a class="group flex flex-col gap-8 items-center justify-center text-center cursor-pointer" href="/">
                <div
                    class="w-48 h-36 flex items-center justify-center bg-blue-50 border border-blue-100 rounded-2xl group-hover:bg-blue-600 transition-colors shadow">
                    <svg class="w-16 h-16 text-blue-600 group-hover:text-white transition-colors" fill="none"
                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                        </path>
                    </svg>
                </div>
                <p class="text-base group-hover:text-blue-600 font-bold transition-colors uppercase tracking-wide">BACK
                    TO HOME</p>
            </a>

        </div>
    </div>


    <%- include('partials/footer') %>