    <%- include('partials/header') %>

     <div class="flex flex-col px-16 sm:px-28 mt-10 md:mb-56 mb-44">
        
     <section class="relative w-full overflow-hidden">
    <div class="max-w-7xl flex flex-col lg:flex-row items-center  gap-12">
        
        <div class="flex-1 flex flex-col items-center text-center lg:items-start lg:text-left">
           
            
            <h1 class="mb-6 text-3xl font-black tracking-tighter text-black sm:text-3xl xl:text-6xl">
              PPR PIPES

            </h1>
            
            <p class="mb-8 max-w-2xl text-lg leading-relaxed text-gray-700 md:text-xl xl:text-2xl">


                Solanki Pipes is manufacturing  <span class="font-bold text-black">PPR Pipes From 20mm to 500mm </span> 
                with pressure ratings from <span class="text-blue-600 font-semibold">with pressure ratings from PN 6 - PN 16 As </span> 
                in high-performance grades including <span class="font-bold text-black">Per IS - 15801 : 2008 standard.</span>.
            </p>

            
        </div>

        <div class="flex-1 flex justify-center lg:justify-end relative">
            <div class="absolute -z-10 h-64 w-64 rounded-full bg-blue-50 blur-3xl lg:h-96 lg:w-96"></div>
            
            <img 
                src="/images/product_01hover.png" 
                alt="HDPE Pipe Display" 
                class="w-full max-w-[450px] h-[450px] drop-shadow-2xl transition-transform duration-500 hover:scale-105"
            >
        </div>
        
    </div>
</section>

        <div class="relative mt-10  self-center w-full">
            <div class="bg-black w-full rounded-lg h-48 md:h-96 flex items-center justify-center banner-mask overflow-hidden">
                <img src="/images/hdpe_02.svg" class="w-full h-full object-cover opacity-50">
            </div>
            <h6 class="text-white absolute top-1/2 left-0 -translate-y-1/2 z-10 text-lg sm:text-3xl md:text-4xl lg:text-6xl xl:text-7xl w-full text-center">
                Better pipe, Better life
            </h6>
        </div>

        <div class="lg:px-2 xl:px-10 mb-10">
            <div class="flex">
                <span class="text-indigo-700 mt-36 text-2xl sm:text-3xl mb-24">Key&nbsp;</span>
                <span class="text-indigo-700 mt-36 text-2xl sm:text-3xl mb-24">Features</span>
            </div>
            
            <div class="grid grid-cols-2 grid-rows-4 md:grid-cols-3 md:grid-rows-3 lg:grid-cols-4 lg:grid-rows-2 md:gap-x-28 xl:gap-x-36 gap-y-20 sm:gap-x-36 gap-x-20">
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0" src="https://cdn-icons-png.flaticon.com/512/1705/1705833.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">100% Virgin Raw Plastic Pulp Material.</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0" src="https://cdn-icons-png.flaticon.com/512/9368/9368310.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">Flexibility And Crush Resistance.</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0" src="https://cdn-icons-png.flaticon.com/512/3100/3100137.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">Hydrostatic Strength And Durability</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0" src="https://cdn-icons-png.flaticon.com/512/2921/2921313.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">Chemical Resistance.</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0" src="https://cdn-icons-png.flaticon.com/512/2954/2954847.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">Lightweight And Easy & Fast Installations.</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0" src="https://cdn-icons-png.flaticon.com/512/3233/3233934.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">SCGR (Slow Crack Growth Resistance) Properties.</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0" src="https://cdn-icons-png.flaticon.com/512/2865/2865792.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">No Bacterial Growth.</p>
                </div>
                <div class="flex flex-col gap-10 text-center lg:text-left">
                    <img alt="Icon" class="h-16 md:h-20 w-auto mx-auto lg:mx-0" src="https://cdn-icons-png.flaticon.com/512/1000/1000974.png">
                    <p class="font-bold md:text-lg !leading-5 xl:text-xl">Leak-free Monolithic Pipe</p>
                </div>
            </div>
        </div>

        <div class="grid w-full overflow-hidden">
            <div class="flex justify-center w-full border-black border-y-[1px] py-10 my-10 text-2xl font-semibold">
                THICKNESS CHART AS PER IS:4984-2016 (UPDATED CHART)
            </div>
            <div class="w-full overflow-x-auto shadow-sm">
                <table class="w-full text-xs text-center border-collapse">
                    <tbody class="table w-full border border-gray-300">
                        <tr class="border-b border-gray-500 font-semibold text-sm bg-gray-50">
                            <td>SDR</td><td></td><td colspan="2">SDR 41</td><td colspan="2">SDR 33</td><td colspan="2">SDR 26</td><td colspan="2">SDR 21</td><td colspan="2">SDR 17</td><td colspan="2">SDR 13.6</td><td colspan="2">SDR 11</td><td colspan="2">SDR 9</td><td colspan="2">SDR 7.4</td><td colspan="2">SDR 6</td>
                        </tr>
                        <tr class="border-b border-gray-500 font-semibold text-sm">
                            <td rowspan="3" class="border-r">Grade</td>
                            <td class="border-r">PE 63</td><td colspan="2">PN 2</td><td colspan="2">PN 2.5</td><td colspan="2">PN 3.2</td><td colspan="2">PN 4</td><td colspan="2">PN 5</td><td colspan="2">PN 6</td><td colspan="2">PN 8</td><td colspan="2">----</td><td colspan="2">----</td><td colspan="2">----</td>
                        </tr>
                        <tr class="border-b border-gray-500 font-semibold text-sm">
                            <td class="border-r">PE 80</td><td colspan="2">PN 2.5</td><td colspan="2">PN 3.2</td><td colspan="2">PN 4</td><td colspan="2">PN 5</td><td colspan="2">PN 6</td><td colspan="2">PN 8</td><td colspan="2">PN 10</td><td colspan="2">PN 12.5</td><td colspan="2">PN 16</td><td colspan="2">PN 20</td>
                        </tr>
                        <tr class="border-b border-gray-400 font-semibold text-sm">
                            <td class="border-r">PE 100</td><td colspan="2">PN 3.2</td><td colspan="2">PN 4</td><td colspan="2">PN 5</td><td colspan="2">PN 6</td><td colspan="2">PN 8</td><td colspan="2">PN 10</td><td colspan="2">PN 12.5</td><td colspan="2">PN 16</td><td colspan="2">PN 20</td><td colspan="2">----</td>
                        </tr>
                        <tr class="font-semibold bg-gray-100 border-b border-gray-400">
                            <td class="border-r p-2">Sr.</td><td class="border-r">OD</td>
                            <td>Min</td><td class="border-r">Max</td><td>Min</td><td class="border-r">Max</td><td>Min</td><td class="border-r">Max</td><td>Min</td><td class="border-r">Max</td><td>Min</td><td class="border-r">Max</td><td>Min</td><td class="border-r">Max</td><td>Min</td><td class="border-r">Max</td><td>Min</td><td class="border-r">Max</td><td>Min</td><td class="border-r">Max</td><td>Min</td><td>Max</td>
                        </tr>
                        <tr class="border-b border-gray-300 hover:bg-white transition-colors">
                            <td class="border-r p-2">2</td><td class="border-r font-bold">20</td>
                            <td>-</td><td class="border-r">-</td><td>-</td><td class="border-r">-</td><td>-</td><td class="border-r">-</td><td>-</td><td class="border-r">-</td><td>-</td><td class="border-r">-</td><td>-</td><td class="border-r">-</td><td>2.00</td><td class="border-r">2.30</td><td>2.30</td><td class="border-r">2.70</td><td>2.80</td><td class="border-r">3.20</td><td>3.40</td><td>3.90</td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>

        <div class="grid grid-flow-col grid-rows-3 lg:grid-rows-2 lg:grid-cols-2 w-full mt-20 gap-8 xl:px-2 md:px-2 lg:px-2">
            <div class="lg:row-span-2 relative w-full min-h-[400px]">
                <img alt="HDPE Gallery 1" class="rounded-2xl object-cover absolute inset-0 w-full h-full" src="/images/WhatsApp Image 2026-02-04 at 10.01.29 (1).jpeg">
            </div>
            <div class="h-full">
                <img alt="HDPE Gallery 2" class="w-full h-full rounded-2xl object-cover" src="/images/WhatsApp Image 2026-02-04 at 10.01.29.jpeg">
            </div>
            <div class="h-full">
                <img alt="HDPE Gallery 3" class="w-full h-full rounded-2xl object-cover" src="/images/WhatsApp Image 2026-02-04 at 10.01.29 (2).jpeg">
            </div>
        </div>

        <h6 class="text-center font-medium text-2xl sm:text-4xl xl:text-5xl mt-10 lg:mt-20 mb-10 sm:mb-10 md:mb-20">Our Other Products</h6>
        <div class="flex flex-wrap justify-center gap-12 md:gap-20">
            
             

            <a class="group flex flex-col gap-8 items-center justify-center text-center cursor-pointer" href="#">
                <img alt="MDPE WATER PIPE" class="w-48 h-auto" src="/public/images/product_03hover.png">
                <p class="text-base group-hover:text-blue-500 font-bold transition-colors">MDPE WATER PIPE</p>
            </a>

            <a class="group flex flex-col gap-8 items-center justify-center text-center cursor-pointer" href="#">
                <img alt="MDPE GAS PIPE" class="w-48 h-auto" src="/public/images/product_04hover.png">
                <p class="text-base group-hover:text-blue-500 font-bold transition-colors">MDPE GAS PIPE</p>
            </a>

            <a class="group flex flex-col gap-8 items-center justify-center text-center cursor-pointer" href="#">
                <img alt="PPR PIPES" class="w-48 h-auto" src="/images/product_05hover.png">
                <p class="text-base group-hover:text-blue-500 font-bold transition-colors">PLB PIPES</p>
            </a>

        </div>
    </div>
  

    <%- include('partials/footer') %>