<%- include('partials/header') %>

    <header class="py-12 px-6 text-center">
        <h1 class=" text-4xl md:text-7xl font-extrabold tracking-tight text-[#1E1E1E] uppercase">
            Quality - <span class="font-light text-gray-500">Excellence Nexus</span>
        </h1>
        <p class="mt-2 text-lg md:text-3xl font-medium text-gray-700">Explore Unmatched Irrigation Excellence on Our Quality Floor</p>
        
         <section class="max-w-6xl mx-auto my-12 px-6">
        <div>
            <img src="/images/solanki_pipes_main_gate.jpeg" alt="Testing Laboratory" class="w-full object-cover h-[450px]">
        </div>
    </section>
    </header>

    <section class="max-w-4xl mx-auto px-6 text-center leading-relaxed">
        <p class="text-lg text-start">
            At the heart of producing and supplying quality products is the 
            <strong>Integrated Management System (IMS)</strong>. Our management is committed to 
            <strong>BIS standards</strong> for health, safety, and the environment. 
            Latest technology ensures we produce products that meet 
            <strong>customer requirements</strong>.
        </p>
    </section>

   

 <section class="max-w-6xl mx-auto py-8 grid grid-cols-2 gap-8 opacity-80 place-items-center">
    <img src="/images/14.jpg.jpeg" alt="Logo 1">
    <img src="/images/15.jpg.jpeg" alt="Logo 2">
</section>

    <section class="bg-[#484B91] py-12 mt-10">
        <div class="max-w-6xl mx-auto px-6 text-white text-4xl md:text-7xl font-light leading-tight">
            Where Excellence, 
            Meets Expectations, <br>
            And Satisfaction <br>
            Becomes The Standard.
        </div>
    </section>

    <section class="max-w-6xl mx-auto py-20 px-6">
        <div class="grid md:grid-cols-2 gap-8">
         <img src="/images/16.jpg.jpeg" alt="Logo 3">
    <img src="/images/197.jpg.jpeg" alt="Logo 4">
        </div>

        <div class="mt-16 max-w-4xl mx-auto">
            <h3 class="font-bold text-center text-xl mb-8">Comprehensive Quality Testing Includes:</h3>
            <div class="grid grid-cols-2 gap-y-4 text-sm font-medium">
                <ul class="space-y-2 list-disc pl-5">
                    <li>Carbon Black Content</li>
                    <li>Internal Pressure Test</li>
                    <li>HDPE Material</li>
                    <li>Pipe Dimensions</li>
                </ul>
                <ul class="space-y-2 list-disc pl-5">
                    <li>Environmental Stress Crack Resistance</li>
                    <li>Melt Flow Rate (MFR)</li>
                    <li>Reversion Test</li>
                    <li>Visual Inspection</li>
                </ul>
            </div>
        </div>

        
    </section>

    <section class="max-w-6xl mx-auto py-16 text-center">
        <h2 class="text-2xl font-bold uppercase tracking-widest mb-10">Third Party Inspection</h2>
        <img alt="Quality Image 6" loading="lazy"   class="mt-5 mb-16 w-full h-46" src="/images/uality_03.svg" style="color: transparent;">
    </section>

<%- include('partials/footer') %>
